
.container1{
    gap:20px;
    margin:0 auto;
 }
  
  body{
    background: #ADC5CF;
  }
  
  div{
    display: inline-block;
  }

 .navbar{
     background-color:rgba(0, 234, 255, 0.308);
     border-radius: 30px;
     
 }
   
 .navbar ul{
     overflow:auto;
 }
 
 .navbar li{
     float: right;
     list-style: none;
     margin: 13px 20px;
 
 }
 
 .navbar li a{
     padding: 2px 2px;
     text-decoration: none;
     color:whitesmoke;
 
 }
 
 .navbar li a:hover{
     color:rgb(80, 78, 78);
 }
 
 .box{
     display:flex;
     gap:20px;
     flex-wrap: wrap;
     }
     .card {
         padding: 50px;
         background-color: whitesmoke;
         width: 80%;
         box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
         border-radius: 4px;
         display: flex;
         flex-direction:row;
         cursor: pointer;
         height: 150px;
         margin: auto;
         position: absolute;
         top:162px;
         left:125px;
         justify-items: center;
         border-radius: 20px;
         
     }
 .image{
     display: flex;
     flex-wrap: wrap;
     height: 160px;
     width: 164px;
     padding: 20px;
     border-radius: 280px;
 }
        
 .new{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     
 }
 
 .container{
     display:flex;
     flex-wrap: wrap;
     position: absolute;
     top: 434px;
 }
 
 .card1{
     position:relative;
    
   
 
     border:solid 3px black;
     padding: 20px;
     background-color: rgb(209, 157, 230);
     color: #8d4242;
     text-transform: capitalize;
 
 
 
 
 
 }
 .bg {
     background-color: rgb(137, 211, 182);
 }
 .card1:hover{
     background-color: rgb(143, 172, 253);
 
 }
 
  
  .gradientDiv{
    width: 300px;
    height: 300px;
    padding: 5px;
    background: linear-gradient(to right, red, yellow);
    margin: 30px;
    box-shadow: 0px 0px 30px red,
          0px 0px 10px yellow;
    animation: animate 3s infinite;
  
  }
  
  @keyframes animate{
    0%{
      background: linear-gradient(to right, red, yellow);
      box-shadow: 0px 0px 30px red,
            0px 0px 10px yellow;
    }
  
    50%{
      background: linear-gradient(to right, yellow, red );
      box-shadow: 0px 0px 30px yellow,
          0px 0px 10px red;
    }
  
    100%{
      background: linear-gradient(to right, red, yellow);
      box-shadow: 0px 0px 30px red,
            0px 0px 10px yellow;
    }
  }
  
  
  .innerDiv{
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #595656, #333);;
    
  
  }
  
  .inner_div{
    width: 250px;
    height: 250px;
    background: transparent;
    transform: translate(10%,10%);
    color: #fff;
    font-family: sans-serif;
    text-align: left;
    font-size: 23px;
  }